.calendar {
    cursor: pointer;
    outline: none;
    border: none;
    border-bottom: 2px solid #9999;
    position: relative;
    align-content: flex-end;
}

.calendar:focus {

    border-bottom: 2px solid #ffaa3b;
    font-weight: bold;
    transition: .5s all; 
}

.calendar-contenedor label{
    color:rgba(15, 15, 15, 0.781);
    font-size: 16px;
    margin-right: 12px;
}